body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-active {
  background-color: white;
  color: red !important;
}

.seat-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.template-seats {
  list-style: none;
  padding: 0;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.cat {
  /* background-color: transparent;
  overflow: hidden;
  /* float: left; */
  list-style: none;
  width: max-content;
  padding: 0px;
}

.cat label {
  /* float: left; */
  /* line-height: 3em;
  width: 8em;
  height: 3em; */
  font-weight: 600;
  margin-left: 4px;
  /* padding: 10px; */
  font-size: 14px;
  border-radius: 5px;
  border: solid 2px #3f52c7;
  color: #3f52c7;
  overflow: hidden;
  margin-bottom: 5px !important;
  width: 50px;
}

.cat label.vip {
  border: solid 2px orange;
  color: orange;
}

.cat .example {
  width: 100%;
}

.filter-list ul .cat:first-child label {
  margin-left: 0px;
}

.cat label span {
  padding: 10px;
  text-align: center;
  display: block;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
/* .cat label input + span {
  color: #fff;
} */

/* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.cat input:checked + span {
  background-color: #3f52c7;
  color: #fff;
}

.cat .vip input:checked + span {
  background-color: orange;
  color: #fff;
}

.cat input:disabled + span {
  background-color: #ff5050;
  color: #fff;
}

.seatStructure {
  text-align: center;
}

#seatsBlock {
  width: 100%;
}
